@import '~antd/dist/antd.css';

.banner{
  background: linear-gradient(to right bottom, #101010, #0F2027);
  min-height: 500px;
  user-select: none;
}

.case {
  display: inline-block;
  width: 200px;
  height: 332px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 10px 10px 10px;
  border: 2px solid lightgrey;
  border-radius: 20px;
}

.case img{
  width: 200px;
  height: 332px;
}

.case:hover:before {
  content: " ";
  z-index: 10;
  position: absolute;
  width: 400px;
  height: 664px;
  top: -120%;
  left: -120%;
  background: linear-gradient(transparent 0%, rgba(255, 255, 255, 0.1) 45%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 55%, transparent 100%);
  transition: all 2s;
  transform: rotate(-45deg);
  animation: shine 10s infinite forwards;
  overflow: hidden;
  }

@keyframes shine {
  0% {
    top: -120%;
    left: -120%;
  }
  20% {
    left: 100%;
    top: 100%;
  }
  40% {
    left: 100%;
    top: 100%;
  }
  100% {
    left: 100%;
    top: 100%;
  }
}
