@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.logo {
  width: 200px;
  height: 31px;
  margin: 12px 24px 12px 24px;
  float: left;
}

.logo div{
  display:flex;
  justify-content: center;
  align-content: center;
}

.logo img{
  height:40px;
  width: 48px;
}

.logo p {
  width: 100px;
  color:black;  
  font-size: 15px; 
  line-height: 16px;
  margin:  5px;

  word-wrap: break-all;
  font-weight: bold;
}